/*STYLES*/

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header_menu {
  display: none;
}
.header_title {
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
  font-weight: 300;
  font-size: 2em;
}
.container {
  height: 100%;
  position: relative;
}
div{
  position: relative;
}
h1 {
  color: #ffffff;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}
input {
  font-size: 16px;
  height: 35px;
}
#filter {
  width: 130px;
  height: 40px;
}
#map {
  bottom:0px;
  height: 100%;
  left: 342px;
  position: absolute;
  right: 0px;
}
.options-box {
  background: teal;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 500px;
}
#pano {
  width: 200px;
  height: 200px;
}
.text {
  font-size: 12px;
}
.nav{
  padding-bottom: 0.5em;
  list-style: none;
}
.nav_item:hover {
  background: lightblue;
  cursor: pointer;
}
h4{
  color: black;
}
li{
  color: black;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.nav a {
  text-decoration: none;
  color: gray;
  padding: 1.5em;
}
.nav a:hover {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 549px) {
  .header_title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom;
  }
  .nav {
    z-index: 6;
    -webkit-transform: translate(-400px, 0);
    transform: translate(-400px, 0);
    transition: transform 0.3s ease;
    background-color: lightblue;
    width: 300px;
    position: absolute;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav_item {
    display: list-item;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: left;
  }
  .header_menu {
    display: inline-block;
    position: absolute;
    background-color: black;
    right: 0;
    padding: 1em;
  }
  .header_menu svg {
    width: 32px;
    fill: gray;
  }
  .options-box {
    background: teal;
    border: 1px solid gray;
    border-radius: 3px;
    height: 100px;
    line-height: 35px;
    padding: 10px 0px 30px 5px;
    text-align: left;
    width: 100%;
  }
  #map {
    top: 0px;
    height: 100%;
    width: 100%;
    left: auto;
    position: relative;
  }

}

@media screen and (min-width: 550px) and (max-width: 780px) {
  .options-box {
    background: blue;
    border: 1px solid gray;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 300px;
    border-radius: 3px;
    height: 550px;
    line-height: 35px;
  }
  .container {
    height: 550px;
    position: relative;
  }
  #map {
    bottom:0px;
    height: 550px;
    left: 322px;
    position: absolute;
    right: 0px;
  }

}


